:root {
  --title-font-size: 16px;
  --subtitle-font-size: 16px;
  --select-font-size: 14px;
  --input-font-size: 13px;

  --custom-upload-btn-width: 120px;
  --custom-upload-btn-height: 18px;

  --title-text-color: #383838;
  --title-bg-color: #e7e7e7;

  --border-color: #898989;

  --button-bg-color: #101827;
  --button-hover-bg-color: #585858;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  weight: 100vw;
  margin: 0;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
