**/__pycache__/

backend/umap_visualizations/
backend/trained_models/
backend/unlearned_models/
backend/uploaded_models/
backend/attack/
backend/.python-version
backend/*.png
paper/
z_dist_exp/
myenv/
*.pdf
*.mdc
*.png
*.npy
*.ipynb