**/__pycache__/

backend/umap_visualizations/
backend/trained_models/
backend/unlearned_models/
backend/uploaded_models/
backend/attack/
backend/data/
backend/.python-version
backend/*.json
backend/*.png
frontend/
paper/
z_dist_exp/
myenv/
*.py
*.pdf
*.mdc