.box {
  position: relative;
  margin: 0 2px 4px 2px;
  border-radius: 2px;
  border: 2px solid var(--border-color);
  padding: 3px 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
