.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.icon {
  width: 11px;
  margin-right: 4px;
}

.icon-disabled {
  width: 11px;
  margin-right: 4px;
  opacity: 0.4;
}

.upload {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #efefef;
  width: 120px;
  height: 18px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  padding: 0px 4px;
}

.upload-disabled {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #efefef;
  color: var(--light-grey-font-color);
  width: 120px;
  height: 18px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  cursor: not-allowed;
  font-size: 13px;
  padding: 0px 4px;
}

.upload span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.file-input {
  display: none;
}

.label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: var(--select-font-size);
}

.label-disabled {
  color: var(--light-grey-font-color);
  font-size: var(--select-font-size);
}
