.forget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.forget label {
  font-size: 14px;
  font-weight: 600;
}

.forget select {
  width: 120px;
  height: 18px;
}

.forget select:focus {
  outline: none;
}

.icon {
  font-size: 15px;
  /* color: #e13d58; */
  margin: 0 6px 0px 0px;
}
