.wrapper {
  margin: 0px 0px 3px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.label {
  font-size: var(--input-font-size);
}

.input {
  width: 140px;
  height: 18px;
  padding: 0px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input:focus {
  outline: none;
}

.option {
  font-size: 12px;
}
