.wrapper {
  margin: 0px 0px 3px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
}

.wrapper label {
  font-size: 13px;
}

.wrapper input,
.wrapper select {
  width: 120px;
  height: 17px;
  padding: 0 4px;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrapper input:focus,
.wrapper select:focus {
  outline: none;
}
