.status-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  height: 122px;
}

.status {
  color: red;
  font-size: 14px;
}

.status-detail-wrapper {
  height: 122px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.status-detail {
  font-size: 12.4px;
}
