.status-wrapper {
  width: 100%;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 3px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.header span {
  color: red;
  font-size: 15px;
  font-weight: 600;
}

.header select {
  width: 80px;
  height: 20px;
  border: 1px solid #c4c7cb;
  border-radius: 3px;
  padding: 0 2px;
  font-size: 13px;
}

.header select:focus {
  outline: none;
}

.content {
  display: flex;
}

.content div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 4px;
}

.content div:first-child span {
  font-size: 12px;
  margin-bottom: 2px;
}

.accuracies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 18px;
}

.accuracies span {
  font-size: 11.6px;
}
