.mode {
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mode div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 11px;
  margin-right: 4px;
}

.mode label {
  font-size: var(--select-font-size);
}

.mode select {
  width: var(--custom-upload-btn-width);
  height: var(--custom-upload-btn-height);
  padding: 0px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 4px;
}

.mode select:focus {
  outline: none;
}
