.button {
  border: none;
  background-color: var(--button-bg-color);
  width: 48px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #fefefe;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  margin-top: 8px;
  position: absolute;
  left: 222px;
  bottom: 7px;
}

.button:hover {
  background-color: var(--button-hover-bg-color);
}
