.button {
  border: none;
  background-color: var(--button-bg-color);
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #fefefe;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  margin-top: 10px;
  position: relative;
  left: 336px;
}

.button:hover {
  background-color: var(--button-hover-bg-color);
}
