.title {
  height: 22px;
  font-size: var(--title-font-size);
  font-weight: 500;
  color: #383838;
  background-color: var(--title-bg-color);
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 2px;
  padding: 0px 16px;
  border-radius: 4px;
}
