.subset-wrapper {
  width: 100%;
}

.predefined {
  margin-bottom: 6px;
}

.mode {
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;
}

.icon {
  width: 11px;
  margin-right: 4px;
}

.upload-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 140px;
  height: 18px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  padding: 0px 4px;
}

.file-input {
  display: none;
}

.button-wrapper {
  background-color: var(--button-bg-color);
  width: 48px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #fefefe;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 6px;
  position: relative;
  left: 236px;
}

.button-wrapper:hover {
  background-color: var(--button-hover-bg-color);
}

.status-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  height: 122px;
}

.status {
  color: red;
  font-size: 14px;
}

.status-detail-wrapper {
  display: flex;
  flex-direction: column;
}

.status-detail {
  font-size: 12.4px;
}

.label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.predefined-label {
  font-size: var(--select-font-size);
}
