.file-input {
  display: none;
}

.file-input-label {
  font-size: 0.9rem;
  background-color: var(--button-bg-color);
  color: white;
  padding: 3px 22px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.file-input-label:hover {
  background-color: var(--button-hover-bg-color);
}

.label {
  font-size: 1.1rem;
}

.label-sm {
  margin-right: 10px;
  font-size: 0.9rem;
}

.label-md {
  font-size: 1rem;
}

#custom {
  margin-right: 30px;
}
