.input {
  width: 90px;
  height: 24px;
  padding: 0px 3px;
}

.select {
  margin: 7px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 1.1rem;
}

.label-sm {
  margin-right: 10px;
  font-size: 0.9rem;
}

.label-md {
  font-size: 1rem;
}
