.mode {
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 11px;
  margin-right: 4px;
}

.file-input {
  display: none;
}

.label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: var(--select-font-size);
}

.select {
  width: 120px;
  height: 18px;
  padding: 0 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select:focus {
  outline: none;
}
