input {
  width: 80px;
}

.left {
  width: 15%;
}

.middle {
  width: 50%;
}

.right {
  width: 35%;
}

.select {
  margin: 8px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#body-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#file-input {
  width: 0;
  height: 0;
  overflow: hidden;
  border: 0;
}
