.left {
  width: 15%;
}

.middle {
  width: 50%;
}

.right {
  width: 35%;
}

.subset-wrapper {
  width: 100%;
}

#body-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
