.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 446px;
}

.img {
  width: 340px;
  margin: 32px 0 0 50px;
}

.svg-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.svg svg {
  width: 60px;
  height: 60px;
  scale: 1;
  cursor: pointer;
}

.svg svg:hover {
  scale: 1.1;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selected-svg {
}

.selected-svg svg {
  position: relative;
  bottom: 32px;
  width: 450px;
  height: 450px;
  z-index: -1;
}
