.performance-overview {
  width: 912px;
}

.table {
  max-width: 893px;
  display: grid;
  grid-template-columns: repeat(15, minmax(min-content, max-content));
  overflow: hidden;
}

.table-header,
.table-row {
  display: contents;
  font-size: 14px;
}

.table-header div,
.table-row div {
  max-width: 110px;
  padding: 8px 6px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-row div:first-child {
  border-left: 1px solid #ddd;
}

.first-row div {
  border-top: 1px solid #ddd;
}

.table-row div {
  font-size: 13px;
}

.table-header div {
  font-weight: bold;
  border: none;
}
