.table {
  max-width: 904px;
  display: grid;
  grid-template-columns: 48px 73px 72px 90px 125px 100px 52px 52px 52px 52px 75px 60px 52px;
  overflow: hidden;
}

.table-row {
  display: contents;
  font-size: 14px;
  cursor: pointer;
}

.table-row div,
.table-row details {
  position: relative;
  font-size: 13px;
}

.table-row details p {
  font-size: 11px;
}

.table-row div:first-child {
  border-left: 1px solid #ddd;
}

.table-row div::before,
.table-row details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
  transition: background-color 0.2s ease;
}

.table-row:not(.first-row):hover div::before,
.table-row:not(.first-row):hover details::before {
  background-color: rgba(108, 117, 125, 0.05);
}

.table-row.selected div::before,
.table-row.selected details::before {
  background-color: rgba(108, 117, 125, 0.1);
}

.table-header {
  display: contents;
  font-size: 14px;
}

.table-header div,
.table-row div,
.table-row details {
  padding: 6px 8px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.first-row {
  cursor: default;
}

.first-row div,
.first-row details {
  border-top: 1px solid #ddd;
}

.table-header div,
.table-header details {
  font-weight: bold;
  border: none;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.legends {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 10px;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.legend-title {
  font-size: 12px;
  margin-bottom: 4px;
}

.bar {
  width: 150px;
  height: 20px;
  position: relative;
}

.gradient {
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #e9a3c9, #f7f7f7, #a1d76a);
}

.legend-values {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 10px;
  margin-top: 2px;
}
