.subset-wrapper {
  width: 100%;
}

.predefined {
  margin-bottom: 8px;
}

.mode {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 11px;
  margin-right: 4px;
}

.upload-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 165px;
  height: 20px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  cursor: pointer;
  font-size: 12px;
  padding: 0px 4px;
}

.file-input {
  display: none;
}

.predefined-select {
  width: 165px;
  height: 20px;
  padding: 0px 4px;
}

.option {
  font-size: 12px;
}

.button-wrapper {
  background-color: var(--button-bg-color);
  width: 60px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  color: #fefefe;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 6px;
  position: relative;
  left: 218px;
}

.button-wrapper:hover {
  background-color: var(--button-hover-bg-color);
}
